<!DOCTYPE html>
<html>
<head>
<title><%=title%></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="keywords" content="前后端解耦合, JavaScript, 新开发模式"/>
<meta name="description" content="使用JavaScript, 使前后端开发解耦合, 支持搜索引擎蜘蛛收录 - 演示Demo"/>
<meta name="author" content="wangxian" />
<meta name="google-site-verification" content="oHBbQpqgvDwZ4atVR9BfjPoZ9_vcT1K0c9hvvpubKfc" />
<link rel='stylesheet' href='/public/css/style.css' />
<style>
.panel{ display: none; }
.on { display: block; }
li { padding: 10px 0; }
#article section { width: 500px; line-height: 22px; color: #333; font-size: 12px;  }
</style>
</head>
<body>

<h1><%= title %></h1>
<h2>支持：baidu/google/bing/curl</h2>
<p><a id="goback" href="/">Go to Home page</a></p>
<hr>

<div id="index" class="panel">
  <p>文章列表</p>
  <ul>加载中...</ul>
</div>

<div id="article" class="panel">加载中...</div>

<script type="text/javascript" src="/public/js/jquery.min.js"></script>
<script type="text/javascript">
$(function(){

  // Panel 切换
  function goPanel(panel){
    window.location.hash = panel;

    panel = panel.replace("#!/", "");
    // console.log(panel)

    $(".panel.on").removeClass("on");
    if(panel === "index") {
      $.getJSON("/api/article/0", function(d){
        var html = $.map(d, function(v, k){ return '<li><a href="#!/article/'+ (k+1) +'">'+ v + "</a></li>"; });
        $("#index ul").html(html);
      });
      $("#index").addClass("on");
      $("title").text("<%=title%>");
    } else {
      $.getJSON("/api/"+ panel, function(d){
        $("title").text(d.title +" - hk.wangxian.me");
        $("#article").html("<h1>标题："+ d.title +" <em>("+ d.author +")</em></h1><h2>内容：</h2><section>"+ d.content +"</section>")
      });
      $("#article").addClass("on");
    }

  }

  // Dispath url
  var defaultPanel;
  if(window.location.hash.length === 0) defaultPanel = "#!/index";
  else defaultPanel = window.location.hash;
  goPanel(defaultPanel);

  // 切换文章
  $("#index ul").on("click", "a", function(){
    goPanel(this.getAttribute("href"));
    return false;
  });

  // goback
  $("#goback").on("click", function(){
    goPanel("#!/index"); return false;
  });
})
</script>

<hr>
<pre>
测试：
1. 使用浏览器点击。
2. 使用curl，
curl http://hostname:18080/
curl http://hostname:18080/article/1
curl http://hostname:18080/article/2
</pre>

<img src="/public/img/2.jpg" alt="" width="100px">

</body>
</html>
